<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <title>Reviews: <%= website[id].title %></title>
  </head>
  <body>
    <div id="siteInfo">
      <h1><%= website[id].title %></h1>

      <p>
        <%= website[id].description %>
        <% if (average > 0 && average < 11) {%> <!-- If there is a valid average rating -->
          <span> | Average Rating: <%= average %>/10</span> <!-- Show it -->
        <% } %>
      </p>
      <a href="//<%= website[id].link %>">Go to <%= website[id].title %></a>
    </div> <hr>

    <% if (reviews.length > 0) { %>
      <div id="reviews">
        <h2><u>Reviews (<%= reviews.length %>)</u></h2>
        <% for (var i = (reviews.length - 1); i >= 0; i--) { %>
        <div id="review">
          <h3><%= reviews[i].title %>
          <% if(reviews[i].rating != null) { %> - <%= reviews[i].rating %>/10 <% } %> <!-- If rating isn't null, show it -->
          <button type="button">Delete</button> </h3>
          <p><%= reviews[i].review %></p>
        </div>
        <br>
        <% } %>
      </div>
    <% } else { %><p>This website has no reviews :(</p><% } %>

    <hr>

    <% var title = website[id].title.toString().split(' ').join('_'); %>
    <% var table = title + '_reviews' %>
    <a href="/add-review/<%= title %>/<%= table %>">Review <%= website[id].title %></a> <br>
    <a href="/">Go home.</a>

  </body>
</html>
