<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <style media="screen"> #infoHidden{display: none;} .editReview{display: none;} </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/website.css">
    <title>Reviews: <%= website[id].title %></title>
  </head>
  <body>
  <div class="container">
    <div id="siteInfo">

      <!-- <div id="infoHidden">
        <textarea id="siteTitle" rows="1" cols="1"><%= website[id].title.toString().split(' ').join('_'); %></textarea>
      </div> -->

      <h1><span id="websiteTitle"><%= website[id].title %></span></h1>
      <% if (!isNaN(maliciousPercent)) { %>
      <p><strong><%= status %></strong><p>
      <p><strong><%= maliciousPercent %>%</strong> of reviews said website is malicious</p>
      <% } %>

      <p>
        <%= website[id].description %>
        <% if (average > 0 && average < 11) {%> <!-- If there is a valid average rating -->
          <span> - <strong>Average Rating: <%= average %>/10</strong></span> <!-- Show it -->
        <% } %>
      </p>
      <a href="//<%= website[id].link %>">Go to <%= website[id].title %></a>
    </div> <hr>

    <% if (reviews.length > 0) { %>
      <div id="reviews">
        <h2><u>Reviews (<%= reviews.length %>)</u></h2>
        <% for (var i = (reviews.length - 1); i >= 0; i--) { %>
        <div id="review<%= reviews[i].id %>">
          <h3><%= reviews[i].title %>
          <% if(reviews[i].rating != null) { %> - <%= reviews[i].rating %>/10 <% } %> <!-- If rating isn't null, show it -->

          <% if (user !== undefined) { %> <!-- If user is logged in -->
            <% if (user.id == reviews[i].originalPoster) { %> <!-- Show buttons if orginal poster -->
              <button type="button" id="<%= reviews[i].id %>" class="editRev btn btn-primary btn-sm">Edit</button>
              <button type="button" id="<%= reviews[i].id %>" class="deleteRev btn btn-danger btn-sm">Delete</button></h3>
            <% } else { %> <span id="originalPoster">Posted by <%= reviews[i].originalPoster %>. </span></h3> <% } %>
          <% } else { %> <span id="originalPoster">Posted by <%= reviews[i].originalPoster %>. </span></h3>
          <% } %>

          <p><%= reviews[i].review %></p>
          <% if (reviews[i].malicious === 'yes') { %> <p>- Reported this website as malicious</p> <% } %>
        </div>
        <% if (user !== undefined) { %>
        <% if (user.id == reviews[i].originalPoster) { %>
          <div id="editReview<%= reviews[i].id %>" class="editReview">
              <textarea id="title<%= reviews[i].id %>" class="revTitle"><%= reviews[i].title %></textarea>
              <textarea id="rating<%= reviews[i].id %>" class="revRating"><%= reviews[i].rating %></textarea> <br> <br>
              <textarea id="rev<%= reviews[i].id %>" class="revReview"><%= reviews[i].review %></textarea> <br> <br>
              <button type="button" id="<%= reviews[i].id %>" class="cancelRev btn btn-primary">Cancel</button>
              <button type="button" id="<%= reviews[i].id %>" class="submitRev btn btn-success">Submit</button>
          </div>
        <% }} %>
        <br>
        <% } %>
      </div>
    <% } else { %><p>This website has no reviews :(</p><% } %>

    <hr>

    <% var title = website[id].title.toString().split(' ').join('_'); %>
    <% var table = title + '_reviews' %>
    <a href="/add-review/<%= title %>">Review <%= website[id].title %></a> <br>
    <a href="/">Go home.</a>

    <script type="text/javascript" src="/js/website/deleteReview.js"></script>
    <script type="text/javascript" src="/js/website/editReview.js"></script>

  </div>
  </body>
</html>
