<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <title>Reviews: <%= website[id].title %></title>
  </head>
  <body>
    <div id="siteInfo">
      <h1><%= website[id].title %></h1>

      <!-- Calculate Average Rating -->
      <% var average = 0; %> <!-- Combined ratings -->
      <% var ratings = 0; %> <!-- Amount of valid ratings -->
      <% for (var i = 0; i < reviews.length; i++) { %>
        <% if (reviews[i].rating > 0 && reviews[i].rating < 11) { %> <!-- If rating is not 1-10 -->
          <% average += reviews[i].rating; %> <!-- Add rating to average -->
          <% ratings++; %> <!-- Increment the amount of valid ratings -->
        <% } %>
      <% } %>
      <% average /= ratings; %> <!-- Calculate mean (average) of combined ratings -->

      <p>
        <%= website[id].description %>
      </p>
      <a href="//<%= website[id].link %>">Go to <%= website[id].title %></a>
    </div> <hr>
    <div id="reviews">
      <h2>Reviews:</h2>
      <% for (var i = (reviews.length - 1); i >= 0; i--) { %>
      <div id="review">
        <h3><%= reviews[i].title %>
        <% if(reviews[i].rating != null) { %> - <%= reviews[i].rating %>/10 <% } %> </h3> <!-- If rating != null, show it -->
        <p><%= reviews[i].review %></p>
      </div>
      <br>
      <% } %>
    </div>

    <hr>
    <a href="/">Go home.</a>

  </body>
</html>
